html
    head
        title jade 테스트 입니다.
    body 
        h1 안녕하세요. jade 
        p 처음으로 jade 예제를 작성합니다
        br
        a(href='http://www.naver.com', alt='네이버') 네이버로 바로가기
        a(href='http://www.google.com', alt='구글') 구글로 바로가기
        